<!DOCTYPE html>

<html lang="en">
<head>
	<title>Block Element Demo</title>

	<meta name="author" content="Dane Groves">
	
	<meta name="viewport" content="width=device-width, initial-scale=1">
	

	<script>

</script>

	<style media="screen">
		p, h1, h2, h3, h4, h5, h6, ul, li {
			border: 1px solid red;
			background: rgba(255, 0, 0, .05);
		}
		a, abbr, b, bdi, bdo, cite, code, data, del, dfn, em, i , ins, kbd, mark, q, ruby, rp, rt, s, samp, small, span, strong, sub, sup, time, u, var {
			border: 1px solid blue;
			background: rgba(0, 0, 255, .2);
		}
	</style>

</head>

<body>
	<p class="backlink"><a href="block-inline#block_inlime">Back to previous page &raquo;</a></p>

<h1>Heading One</h1>
<p>This page contains several headings and paragraphs with no styling. Notice how each paragraph and heading stacks vertically. This is because they are block level elements.</p>

<p>This page has several inline elements as well. They do not stack horizontally or stretch to the edge of the page.</p>

<p>Lorem <a href="#">ipsum dolor sit amet,</a> consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>

<p>Sed do eiusmod temp<sup>or</sup> incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla <sub>pariatur.</sub></p>

<h2>Heading Two</h2>
<h3>Heading Three</h3>
<p>Quis nostrud exercitation<strong> ullamco laboris</strong> nisi ut aliquip ex ea <em>commodo consequat</em>. Duis aute irure dolor in reprehenderit in</p>

<h3>Heading Three</h3>
<ul>
	<li><b>Duis aute irure dolor in</b></li>
	<li><s>Ut enim ad minim veniam</s></li>
	<li>A long list item. Excepteur sint occaecat cupidatat Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco <mark>laboris nisi ut aliquip</mark> ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</li>
	<li><p>Ut enim <ins>ad minim veniam</ins></p></li>
</ul>

	<p class="backlink"><a href="block-inline#block_inlime">Back to previous page &raquo;</a></p>
</body>
</html>

